/* write your override styles here */
.parent{
    display:none;
}

#wall .tag-1{
    display:none
}

.tag-1 #tag-2, #tag-3{
    display:none
}

.slick{
    display:none;
}

.parent #tag-6{
    display:none;
}

.parent #tag-5 + .slick{
    display:none;
}

.parent #tag-4{
    display:none;
}

#tag-3{
    display:none;
}